#status {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.popup {
    pointer-events: none;
}

.wonderoverlay {
    pointer-events: none;
}

#endscreen {
    position: relative;
    height: 250px;
    display: none;
}

#game {
    position: relative;
    left: 50%;
}

#cardlisttitle {
    height: 60px;
    position: relative;
    text-align: center;
    margin: auto;
}

.cardlisttitle {
    color: #FFFFFF !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 36px !important;    
}

#cardlistheaders {
    height: 55px;
    position: relative;
}

.cardlistheader {
    position: absolute !important;
    color: #FFFFFF !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 24px !important;
}
.cardlistlabel {
    position: absolute !important;
    top: 5px !important;
    color: #FFFFFF !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 18px !important;
}

#cardlist {
    position: relative;
    left: 50%;
}

canvas {
    position: absolute;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}