@font-face {
    font-family: Possum Saltare;
    src: url(assets/possum-saltare-nf.regular.otf);
}

body {
    color: #FFFFFF;
}

a.userinfolink {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

a.userinfolink:active {
    color: blue;
}

#status {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.statustextactive {
    color: red;
    font-weight: bold;
}

.title {
    text-align: center;
    margin: auto;
    font-family: Possum Saltare;
    font-size: 40px;
    padding-top: 20px;
}

.userinfo {
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding-bottom: 20px;
}

#main {
    width: 1200px;
    height: 550px;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
}

.section {
    box-shadow: 0px 0px 0px 4px white inset;
    border-radius: 20px;
    position: absolute;
}

.sectiontitle {
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#preferencesection {
    left: 0%;
    top: 0%;
    width: 24.5%;
    height: 100%;
}

#createsection {
    left: 25.5%;
    top: 0%;
    width: 49%;
    height: 100%;
}

#patchnotessection {
    left: 75.5%;
    top: 0%;
    width: 24.5%;
    height: 100%;
}

#preferencelist {
    position: absolute;
    left: 50%;
    top: 15%;
}

.preferenceelement {
    width: 200px;
    height: 20px;
    position: absolute;
    transform: translate(-50%, -50%) !important;
    background-color: black;
    box-shadow: 0px 0px 0px 2px white inset;
    cursor: pointer;
}

.preferenceelementtext {
    position: relative;
    left: 10%;
    top: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    transform: translate(0%, -50%);
}

#createsectionplayers {
    width: 35.5%;
    height: 100%;
    float: left;
    position: relative;
}

#createsectionoptions {
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
}

.createsectionheader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
}

.createsectiondata {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: absolute;
}

.createsectioninput {
    position: absolute;
    left: 0px;
    top: 0px;
}

.createsectiontextbox {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: white;
    width: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
}

.createsectioninputtext {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    position: absolute;
}

#createsectionrandomizebutton {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #444;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#createsectionrandomizebuttontext {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#createsectionbutton {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#createsectionbuttontext {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#patchnotescontent {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.pnci {
    position: relative;
    width: 90%;
    left: 30px;
    text-indent: -15px;
}

.ppnci {
    position: relative;
    width: 90%;
    left: 60px;
    text-indent: -30px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}